<div class="attender-header">
  <div class="attender-title"><%= event.escape("num_attenders") %> Going</div>
  <% if (event.get("spots_remaining") > 0) { %>
    <div class="spots-remaining">
      <%= event.escape("spots_remaining") %> spots left!
    </div>
  <% } %>
</div>

<div class="attenders"></div>