<div class="row-fluid">
  <div class="col-sm-4">
    <div class="primary-box clearfix">
      <h4>Events I'm Organizing</h4>
      <div class="events-organizing clearfix"></div>
      <div class="create-new-event">
        <button class="btn btn-default new-event-btn">Create New Event</button>
      </div>
    </div>

    <div class="primary-box clearfix">
      <h4>Events I've Joined</h4>
      <div class="events-joined clearfix"></div>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="primary-box">
      <div class="events-index-header">
        <h3><%= num_events %> Events Found</h3>
      </div>
      <div class="index-item-holder"></div>
    </div>
  </div>
</div>