<div class="events-index">
  <div class="primary-box">
    <div class="events-index-header">
      <h3><%= num_events %> Events Found</h3>
    </div>
    <div class="index-item-holder"></div>
  </div>
</div>