<div class="index-item-text">
  <h4><%= event.escape("title") %></h4>
  <p>Location will go here</p>
  <p><%= event.get("start_time") %></p>
  <p><%= event.get("num_attenders") %> attending</p>
</div>
<div class="index-item-join">
  <button class="btn btn-default">Join</button>
</div>