<div class="row-fluid">
  <div class="col-xs-3">
    <div class="primary-box">
      <div class="main-attender-list"></div>
    </div>
  </div>

  <div class="col-xs-7">
    <div class="event-show-head clearfix">
      <div class="event-show-head-background">
        <div class="show-head-text">
          <h3><%= event.escape("title") %></h3>
          <h5>
            Organized by <span class="oraganizer-name">
              <%= event.escape("organizer_name") %>
            </span>
          </h5>
        </div>
      </div>
      <p class="event-when"><%= event.when() %></p>
      <p>Location link will go here</p>
      <div class="show-join"></div>
    </div>

    <div class="primary-box">
      <h4>Description</h4>
      <%= PadCrashing.Utils.writeParagraphs(event.escape("description")) %>
    </div>
  </div>
</div>