<div class="row">
  <div class="col-xs-3">
    <div class="shadow-box">
      <div class="attender-header">

      </div>

      <div class="attenders"></div>
    </div>
  </div>

  <div class="col-xs-6">

  </div>
</div>