<h4>Messages</h4>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h4>Received (<%= user.receivedMessages.length %>)</h4>
      <div class="message-index-left"></div>
    </div>

    <div class="col-sm-6">
      <h4>Sent (<%= user.sentMessages.length %>)</h4>
      <div class="message-index-right"></div>
    </div>
  </div>
</div>