<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Edit Your Profile</h4>
</div>

<div class="modal-body">
  <form>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="UserName">Name</label>
            <input
              type="text"
              name="user[name]"
              id="UserName"
              class="form-control"
              value="<%= user.escape("name") %>"
              placeholder="Vibrating Blue Head Guy"
            >
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="UserEmail">Email</label>
            <input
              type="text"
              name="user[email]"
              id="UserEmail"
              class="form-control"
              value="<%= user.escape("email") %>"
              placeholder="email@email.com"
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="UserLocation">Where do you live?</label>
            <input
              type="text"
              class="form-control"
              placeholder="An address or the name of a city"
              id="UserLocation"
              value="<%= user.get("location_title") %>"
            >
          </div>

          <div class="details">
            <input type="hidden" name="lat" value="">
            <input type="hidden" name="lng" value="">
            <input type="hidden" name="locality" value="">
            <input type="hidden" name="administrative_area_level_1" value="">
            <input type="hidden" name="country_short" value="">
            <input type="hidden" name="place_id" value="">
          </div>

          <div class="form-group">
            <label for="UserAbout">About Me</label>
            <textarea
              class="form-control"
              id="UserAbout"
              rows="9"
              name="user[description_head]"
              placeholder="Write something about yourself!"
            ><%= user.get("description_head") %></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="ImageInput">Image Input</label>
            <br>
            <button id="ImageInput" class="btn btn-primary">Change Your Avatar</button>
            <p class="help-block" id="UploadSuccess"></p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="modalButton">Submit</button>
</div>