<div class="row">
  <div class="col-xs-3">
    <div class="avatar-holder"></div>
  </div>

  
  <div class="col-xs-7">
    <div class="show-header">
      <h1><%= user.escape("name") %></h1>
      <h4><%= user.escape("location_title") || user.escape("name") + " hasn't added a location yet!" %>
    </div>

    <% if (this.model.get("current")) { %>
      <div class="primary-box">
        <button class="btn btn-default cool-button profile">Edit Your Profile</button>
      </div>
    <% } %>

    <div class="primary-box">
      <h4>About Me</h4>
      <% if (user.get("description_head")) { %>
        <%= EventSurfing.Utils.writeParagraphs(user.escape("description_head")) %>
      <% } else { %>
        <p><%= user.escape("name") %> hasn't written anything yet! </p>
      <% } %>
    </div>
  </div>
</div>
