<div class="row">
  <div class="col-sm-3">
    <div class="avatar-holder"></div>
  </div>

  
  <div class="col-sm-7">
    <div class="show-header">
      <h1><%= user.escape("name") %></h1>
      <h4><%= user.escape("location_title") || user.escape("name") + " hasn't added a location yet!" %>
    </div>

    <div class="primary-box">
    <% if (user.get("current")) { %>
      <button class="btn btn-default cool-button profile">Edit Your Profile</button>
      <button class="btn btn-default cool-button open-messages">View Messages</button>
    <% } else { %>
      <button class="btn btn-default cool-button message">Send a Message</button>
    <% } %>
    </div>

    <div class="primary-box user-show-main"></div>
  </div>
</div>
