<div class="row">
  <div class="col-xs-3">
    <div class="avatar-holder"></div>
  </div>

  
  <div class="col-xs-7">
    <div class="show-header">
      <h1><%= user.escape("name") %></h1>
    </div>

    <div class="hosting-status primary-box">
      <h4>Hosting Status will go here</h4>
    </div>

    <div class="primary-box user-show-about">
      <h4>About Me</h4>
      <% if (user.get("description_head")) { %>
        <%= PadCrashing.Utils.writeParagraphs(user.escape("description_head")) %>
      <% } else { %>
        <p><%= user.escape("name") %> hasn't written anything yet! </p>
      <% } %>
    </div>
  </div>
</div>
