<button
  type="button"
  class="close"
  aria-label="Close"
>
  <span aria-hidden="true">&times;</span>
</button>

<% if (flashTitle) { %>
  <h3><%= flashTitle %></h3>
<% } %>

<% if (messages) { %>
  <ul>
    <% messages.forEach(function (message) { %>
      <li><%= message %></li>
    <% }) %>
  </ul>
<% } else if (singleMessage) { %>
  <p><%= singleMessage %>
<% } %>