<div id="content"></div>
<script type="text/javascript">
  $(function () {
    PadCrashing.CURRENT_USER = {
      id: <%= current_user.id %>
    };
    PadCrashing.initialize();
  });
</script>
<div class="test"></div>