<div id="content"></div>
<script type="text/javascript">
  $(function () {
    var id = <%= current_user.id %>;
    PadCrashing.initialize();
    PadCrashing.CurrentUser = new PadCrashing.Models.User({ id: id });
    PadCrashing.CurrentUser.fetch();
  });
</script>