/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 60px 0 100px 0;
}

.events-index {
  width: 80%;
  margin: 0 auto;
}

.index-item {
  padding-bottom: 10px;
  > .index-item-text {
    float: left;
    > p {
      margin-bottom: 0;
      color: #777;
      font-weight: 200;
    }
    > h4 {
      &:hover {
        cursor: pointer;
        color: #990033;
      }
    }
  }
  > .index-item-join {
    float: right;
    margin-top: 15px;
  }
}

.attender-header {
  border-bottom: thin black solid;
  padding-bottom: 5px;
  > .attender-title {
    font-size: 16px;
    font-weight: 600;
    color: #990033;
    padding-bottom: 5px;
  }
  > .spots-remaining {
    background: #990033;
    color: white;
    padding: 2px;
  }
}

.btn.btn-default.join, .btn.btn-default.unjoin {
  width: 100px;
  position: relative;
  border-radius: 20px;
  color: white;
  background: #27709b;
  box-shadow: -2px 2px 10px 0px #7A7B7C;
  transition: background 500ms;
  &:hover, &:active {
    background: #990033;
  }
  &:active {
    color: white;
    box-shadow: none;
    top: 2px;
    left: -2px;
  }
  &:focus {
    outline: none;
  }
}

.events-index-header {
  border-bottom: 5px #BBB solid;
  > h3 {
    color: #036;
    margin-top: 0;
  }
}

.index-item {
  border-bottom: thin #BBB solid;
}

.show-header {
  padding-left: 10px;
}

.event-show-head {
  margin-top: 30px;
  border: thin black solid;
  > .event-show-head-background {
    background: gray;
    height: 300px;
    > .show-head-text {
      position: relative;
      top: 75%;
      color: white;
      padding: 10px;
      > h3 {
        margin-top: 0;
      }
    }
  }
}

.primary-box {
  width: 100%;
  border: thin black solid;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  background: #eee;
  > p {
    margin-bottom: 20px;
  }
  > h4 {
    color: #036;
    border-bottom: thin #036 solid;
    padding-bottom: 10px;
  }
}

.avatar-holder {
  background: #DDD;
  height: 200px;
  width: 200px;
  border: thin black solid;
  margin-bottom: 20px;
}

.user-show-sidebar ul > li  {
  margin: 0;
}

$bgDefault      : #4e7fb6;
$bgHighlight    : #7b7aad;
$colDefault     : #ecf0f1;
$colHighlight   : #ecdbff;

.navbar-default {
  background: linear-gradient(to bottom,#27709b 0,#24688f 100%);
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
}